#page-message {
  position: fixed;
  top:50px;
  padding: 10px;
  width: 100%;
  background-color: #FE2E2E;
  color: white;
  font-size: 130%;
  z-index: 999;
}
#empty_img{
  height: 200px;
  border:1px solid black;
  padding: 20px;

}