<%- if can_edit %>
    <%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
    <br>
    <br>
<% end %>
<% @products.each do |product| %>
    <div class="col-md-12">
        <%= link_to  product.title,product %>
        <br>
        <%- if can_edit %>
           <%= link_to 'Edit', edit_product_path(product), class: 'text-warning' %>
           <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
          <br>
        <% end %>
        <br>
    </div>
<% end %>

